@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: 'Poppins', sans-serif;
}
.border-gradient-gray-to-white {
  border-image: linear-gradient(45deg, #f3f3f3, #ffffff);
  
}
.bg-linear {
  background: linear-gradient(
    269.94deg,
    #0066e7 0.05%,
    #0071ff 25.03%,
    #4ecaff 99.95%
  );
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}
h2 {
  font-size: 2rem;
  font-weight: bold;
}
p {
  font-size: 1.3rem;
  font-weight: 400;
}
